.env
.venv
__pycache__
.pytest_cache
.ruff_cache/
.coverage
.vscode
.editorconfig
venv/
/examples
/exports_test
/exports
/prompts
/credentials.json
/client_secrets.json
/token.json
.DS_Store
app.log
*.log