# Dependencias para requisições HTTP
requests
python-dotenv
loguru

# Dependencias para exportação de dados (CSV/Excel)
pandas
openpyxl

# Dependencias para upload no Google Drive
google-auth
google-auth-oauthlib
google-api-python-client

# Dependencias para GUI
customtkinter

# Dependencias para build/distribuição
pyinstaller
packaging
